<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Insert address information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Street" [(ngModel)]="street" name="street" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="House Number" [(ngModel)]="housenumber" name="housenumber" required>
          </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Zip Code" [(ngModel)]="zipcode"  name="zipcode" required>
          </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="City" [(ngModel)]="city" name="city" required>
          </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="next()" color="primary">Next</button>
    <button mat-raised-button (click)="leave()" color="info">Leave</button>
  </mat-card-actions>
</mat-card>